.form-search{
  padding-top: 40px;
}

.navbar{
  /* border: 2px solid red; */
  /* background-color: black; */
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-weight: bolder;
  font-size: 70px;

}
